

/*reset stylings download*/

* {
    margin :0;
    padding :0;
    text-decoration: none;
   
}
@font-face {
    font-family: "myFont";
    src: 
    local("/Web/webfonts/SourceCodePro-Light.otf.woff") format('woff'),
    local("/Web/webfonts/SourceCodePro-Light.otf.woff2") format('woff2');
}



.body{
    display:grid;
    grid-template-columns:100%;
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    background-color:#f3f3f3
}

/*HEADER_STYLE*/
.header{
    display:grid;
    background-color:#ffff;
    grid-template-rows:auto auto;
    align-items:start;
    justify-items:center
}



.header-brand  img:nth-child(1) {
    width:100px;
    padding:10px 0px
   } 
   
/*NAVIGATION_STYLE*/


 header nav{
    display:grid
 }

header nav ul{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    align-items:end;
    justify-items:center;
    padding:10px 0px
}

header nav ul li{
    list-style:none;
    font-size:20px
    
}

header nav ul li a{
    color:black
}


/*-----INDEX-----*/


.welcome{
    width:100%
}

.main{
    display:grid;
    grid-template-rows:auto auto auto;
    grid-row-gap:20px
}

.index-banner{
    width:100%;
    height:300px;
    background-image:url('bilder/banner2.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:grid;
    text-align:center;
    align-items:center
}

 .index-banner h2{
    font-size:50px;
    font-weight:900;
    color:rgb(5, 56, 53);
    text-shadow:2px 2px 20px rgb(38, 37, 37);
    line-height:70px
    
 } 


 .index-banner h1{
    /* font-family:"FontAwesome" !important;; */
    font-size:28px;
    font-weight:100;
    font-style:italic;
    color:honeydew;
    text-shadow:2px 2px 8px #111;
    line-height:40px
 }


 .index-links{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px 20px;
 }


 .modal_btn{
    display: flex;
    background-color:rgb(168, 194, 191);
    height: 100px;
    width: fit-content;
    text-align: center;
    align-items: center
 }


 .modal_btn h3{
    font-size:20px;
    font-weight:500;
    color:rgb(0, 0, 0, 0.5);
    text-transform:uppercase;
    min-width:300px
 }

 /**Modal**/ 

 .modal{
    position:fixed; 
    z-index: 10;        /* sits on top of the content*/
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(0);
    height:80%;
    overflow:auto;
    border-radius: 10px;
    width:500px;
    max-width:80%;
    background-color: whitesmoke;
    transition:200ms ease-out;
    display: none;
 }

.modal.active{
    transform:translate(-50%, -50%);
    display:block;
}
 .modal-header{
    display:flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content:space-between;
    align-items:center
 }

 .modal-title{
    font-size:20px;
    font-weight: bold;
    color: rgb(5, 56, 53)
 }

 .modal-content{
    flex-direction: column;
    margin:0 auto;
    padding: 0;
    width:80%;
 }

 .modal-content p{
    margin: 10px;
 }

 .modal-header .close{
    outline:none;
    border:none;
    background:none;
    font-size: 25px;
    font-weight: bold;
  }
  
  .close:hover{
    color: rgb(0, 128, 107);
    text-decoration:none;
    cursor:pointer;
  }


#overlay{
    position:fixed;
    opacity:0;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgb(0, 0, 0, 0.5) ;
    pointer-events:none;
    backdrop-filter:blur(3px);
}

#overlay.active{
    opacity:10;
    pointer-events:all;
}

/**FOOTER*/


.footer{
    padding: 40px 40px;
    background-color:#111;
    margin-top:20px;
    overflow:hidden
}

footer ul{
width:fit-content;
float:left;
padding-left:20px
}




    footer ul li{
    display:block;
    list-style:none;
    color:white
    }


    footer ul li a{
        font-size:24px;
        line-height:30px
    }
       

.footer-icons{
    color:gray;
    font-size:4em;
    float:inline-end;
    margin-bottom:10px
}

.img-info h2{
    padding:30px 30px 20px;
    font-size:30px;
    color:dimgray
}

.img-info p{
    padding:0px 30px 20px;
    font-size:16px;
    color:black;
    line-height:24px
}

/**OFFICE.HTML **/
.office_information{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

 h2{
    color: rgb(67, 136, 107);
    font-size: 28px;
}

.office_information time p{
    font-size: 20px;
}

.office_adress{
    padding-bottom: 20px;
}

.opening{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 50px);
    
}

.office_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


#getContact{
    font-size: 20px;
    color: white;
    background-color:rgb(168, 194, 191);
    height: 50px;
    width: 100px;
}




/**only run the code in the curly brackeds, if the statement is true. if we have a screen with a minimum width of 768px
----TABLET VIEW!------          */


 @media only screen and (min-width: 768px){

    .welcome{
        width :600px;
        margin:0 auto /*centre the content */
    }

    .img-info h2{
        padding:20px 0px 0px
    
    }
    
    .img-info p{
        padding:20px 0px 0px
     
    }

    .img-welcome{
        padding-top:30px
     }
    
     

 }
 @media only screen and (min-width: 1000px){
    .welcome{
        width:1000px
    }

    .img-info{
        width:50%;
        float:right
    }


    .img-info h2{
        padding:20px 0px 0px 30px
    
    }
    
    .img-info p{
        padding:20px 0px 0px 30px
     
    }
    .img-welcome{
        padding-top:100px;
        width:50%; 
        float:left
     }
 }

 @media print{
    footer{
        display:none;
    }

    .header{
        display:none;
    }

    main button{
        display: none;
    }
 }